# Ignore Miniconda installer and extracted files
*.sh
miniconda/
__pycache__/
*.pyc
*.ipynb_checkpoints
*.log
.DS_Store

.gitconfig
.lesshst
/local/
/.cache/
/miniconda3/
/*.so
*.pyc
*.pkl
*.conda
.vscode-server/
.bash* 
.config/
.docker/ 
.dotnet/ 
.local/ 
.profile 
.python_history 
.tcshrc 
.viminfo 
.wget-hsts 
.xonshrc 
.zshrc 
